main {letter-spacing:-0.02em;}
/* 1. 스와이퍼 */
main #product_slide {}
main #product_slide .swiper-wrapper {}
main #product_slide .swiper-wrapper .swiper-slide {
    width:700px; height:740px;
}
main #product_slide .swiper-wrapper .swiper-slide .txt {
    position:absolute; bottom:35px; left:35px;
    /* 초기 숨기기(이후 swiper 활용 서서히 나타나고 사라지기 기능 추가) */
    opacity:0; transform:translateX(50px);
    transition:all 2s;
}
main #product_slide .swiper-wrapper .swiper-slide .txt h1 {
    font-size:1.2rem; color:#adadad;
}
main #product_slide .swiper-wrapper .swiper-slide .txt h1 em {
    font-size:1.7rem; font-weight:700; line-height:50px;
}
main #product_slide .swiper-wrapper .swiper-slide .txt p {
    margin-top:50px; font-weight:600;
}
main #product_slide .swiper-wrapper .slide1 {background-image:url(../images/model/model_1.jpg);}
main #product_slide .swiper-wrapper .slide2 {background-image:url(../images/model/model_2.jpg);}
main #product_slide .swiper-wrapper .slide3 {background-image:url(../images/model/model_3.jpg);}
main #product_slide .swiper-wrapper .slide4 {background-image:url(../images/model/model_4.jpg);}
main #product_slide .swiper-wrapper .slide5 {background-image:url(../images/model/model_5.jpg);}
main #product_slide .swiper-wrapper .slide6 {background-image:url(../images/model/model_6.jpg);}
/* swiper-scrollbar design */
main #product_slide .swiper-scrollbar {
    left:50%; bottom:10px; transform:translateX(-50%);
    background:#fff; width:500px;
} /* 스크롤 배경(크기, 위치o) */
main #product_slide .swiper-scrollbar-drag {
    background:#000;
} /* 스크롤 막대(크기x) */
main #category {
    margin:0 auto; padding-top:50px; width:1350px;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items: center;
}
main #category a {display:flex; flex-flow:column; align-items: center;}
main #category a img {margin-bottom:15px;}
main #category a img span {}
/* product_list */
main #product_list {width:1350px; margin:0 auto;}
main #product_list .title {}
main #product_list .title .top {
    display:flex; justify-content: space-between; align-items:flex-end;
    margin-top:121px;
}
main #product_list .title .top h1 {
    font-size:2rem; font-weight:600;
}
main #product_list .title .top .top_right {}
main #product_list .title .top .top_right a {
    font-size:1.175rem; margin-right:10px; font-weight:600;
}
main #product_list .title .top .top_right a:last-child {margin-right:0;}
main #product_list .title::after {
    display:block; content:''; position:relative; bottom:28px;
    width:100%; border-bottom:1px solid #000;
}
main #product_list .title .btn {
    margin-top:20px;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
main #product_list .title .btn p {
    font-weight:600;
}
main #product_list .title .btn #product_align {font-weight:600; background:#fff;}
/* container */
main #product_list .container {margin-top:100px;}
main #product_list .container ul {display:flex; justify-content:space-between;}
main #product_list .container ul .item {
    display:flex; flex-flow:column;
}
main #product_list .container ul .item .item_img {position:relative;}
main #product_list .container ul .item .item_img img{width:260px; height:295px;}
main #product_list .container ul .item .like_img {}
main #product_list .container ul .item .like_img img {
    position:relative; left:225px; bottom:285px;
    width:20px; height:20px;
}
main #product_list .container ul .item .txt {}
main #product_list .container ul .item .txt h2 {margin-bottom:10px;}
main #product_list .container ul .item .txt dt {margin-bottom:8px;}
main #product_list .container ul .item .txt dd {margin-bottom:10px;}
/* color */
main #product_list .container ul .item .color {
    display:flex;
}
main #product_list .container ul .item .color span {
    display:block; margin-right:3px;
    width:25px; height:25px; background:aqua;
    border-radius:50px;
}
main #product_list .container ul .item .color span:last-child {margin-right:0;}
main #product_list .container ul .item .color span:nth-child(1) {
    background:#000;
}
main #product_list .container ul .item .color span:nth-child(2) {
    background:#8D8D8D;
}
main #product_list .container ul .item .color span:nth-child(3) {
    background:#d9d9d9;
}
main #product_list .container ul .item .color span:nth-child(4) {
    background:#F28180;
}